
{%extends 'base.html'%}
{% load static%}


{% block content %}
<div class="container" style="margin-top:100px;">
  <h>INDEX</h>
  <a href="{% url 'finplanner:create_expense' %}">
                Add Expense
      </a> <br>

      <a href="{% url 'finplanner:dashboard' %}">
                     <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp; Dashboard
                 </a>
</div> <br>
<a href="

{% url 'finplanner:new_account' %}


"> Add Account</a> <br>
{% for account in accounts%}

<a href="{% url 'finplanner:detail' id=account.id %}">{{account.name}}</a>



 <br>
{% endfor %}

{% endblock %}
